body {
    font-family: Roboto;
    font-size: 16px;
    color: white;
    background-color: #222;
    background-image: url("images/background-1080.png");
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    max-width: 2560px;
}

.hide-link{
    color: inherit;
    text-decoration: none;
}

.centered {
    text-align: center;
    display: inline-block;
    width: 100%;
    justify-content: center;
    margin: auto;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.project-container{
    position: relative;
    margin: 0 auto;
    width: auto;
    height: auto;
    flex: 1 1 30%;
    min-width: 350px;
    max-width: 30%;
    margin: 0;
    padding: 5px;
}

.project-container:hover{
    filter: drop-shadow(0px 0px 6px white);
}

.project-container img{
    position: relative;
    /* max-width: 500px; */
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
}

.project-container .project-text{
    position: absolute;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    margin-left: clamp(0.75rem, 0.85vw, 2rem);
    margin-bottom: clamp(0.75rem, 0.85vw, 2rem);
    left: 0px;
    bottom: 0px;
    color: #f1f1f1;
    text-align: left;
    font-size: clamp(0.65rem, 0.7vw, 2rem);
    line-height: clamp(0.65rem, 0.7vw, 2rem);
    filter: drop-shadow(0px 0px 4px black);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li{
    float: right;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover{
    background-color: #111;
}

.article-content{
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 15px;
    padding: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-align: left;
    margin-left: 24%;
    margin-right: 24%;
    font-size: 20px;
    padding-bottom: 600px;
}

a {
    color: rgb(124, 188, 209);
}

.article-title{
    font-size: 36px;
}

.youtube-video-player{
    width: 75%;
    height: 20%;
}